<mat-form-field class="input-field" [formGroup]="group">
    <input matInput *ngIf="!isTextArea" [formControlName]="field.name" [placeholder]="field.label" [type]="field.inputType">
    <textarea matInput *ngIf="isTextArea" [formControlName]="field.name" [placeholder]="field.label"></textarea>
    <ng-container *ngFor="let validation of field.validations;" ngProjectAs="mat-error">
        <mat-error *ngIf="group.get(field.name).hasError(validation.name)">{{validation.message}}</mat-error>
    </ng-container>
</mat-form-field>